# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Django stuff
db.sqlite3
media/
staticfiles/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter notebooks
*.ipynb_checkpoints/

# Compressed files
*.gz
*.zip
*.tar
*.slk

# Node modules (if using Tailwind or Webpack)
node_modules/

# Migration backup (optional)
*/migrations/*.pyc
*/migrations/__pycache__/
