Python 3.12.4
Python-dotenv
Python-requests
Python-decouple
django>=4.2
psycopg2-binary>=2.9
django-allauth>=0.59
gunicorn>=21.2
python-decouple>=3.8
whitenoise>=6.6
Pillow>=10.2
django-crispy-forms>=2.1
crispy-bootstrap5>=0.7
django-widget-tweaks>=1.4
django-storages>=1.14
boto3>=1.34
python-slugify>=8.0
django-ckeditor>=6.7
django-compressor>=4.4
chartjs>=0.3.1
django-tailwind>=2.10







